.arrow-head {
	text-align: center;
    display: inline-table;
    width: 20;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #f3d8d8;
    vertical-align: middle;
}
.status-date{
    text-align: right;
    font-size: 10px;
}
.activity-div{
    padding: 0 .7em;
    width: 100px;
    text-align: center;
    display: inline-table;
    
}

.activity-div p{
    height: 40px;
    }
.proj-div{
   padding: 0 .7em;
    width: 1200px;
    text-align: center;
    display: inline-table; 
    
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
    border:1px solid;
}